<div *ngIf="cargando" class="container alert alert-warning alert-dismissible fade show mt-4" role="alert">
<h4 class="alert-heading">Procesando registro</h4>
  <p>Esto puede tardar unos segundos</p>
  <hr>
  <p class="mb-0">Por favor no cierre la ventana.</p>
  <div class="text-center">
    <i class="fas fa-spinner fa-pulse fa-3x"></i>
  </div>
</div>

<div *ngIf="zohomjs === 'SI'" class="container alert alert-primary alert-dismissible fade show mt-4" role="alert">
  <h4 class="alert-heading">El proceso finalizó</h4>
  <p>Se realizarón varias actualizaciones durante el proceso.
  </p>
  <hr>
  <p class="mb-0">Es necesario actualizar la página de <b class='text-danger'>Z</b><b class='text-success'>O</b><b
      class='text-primary'>H</b><b class='text-warning'>O CRM </b> para visualizar los cambios.<br> Presione
    <b>Salir</b> para cerrar de la ventana.</p><br>
  <button appAutofocus class="btn btn-outline-primary" type="button" (click)="salir()" [autofocus]="true">Salir</button>
</div>
