<wt-shuyai *ngIf="cargando"></wt-shuyai>
<div class="row p-4">
  <div class="col-lg-4 col-md-4 col-sm-6 col-12">
    <div class="option">
      <div class="dx-fieldset-header">Seleccione Fecha:</div>
      <dx-date-box placeholder="dd/mm/aaaa" [showClearButton]="true" [useMaskBehavior]="true" displayFormat="dd/MM/yyyy"
        type="date" (onValueChanged)="cambiarFeha($event)" [min]="minDate" [max]="maxDate">
      </dx-date-box>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-12">
    <br>
    <h5 class="text-center">Procesos</h5>
    <hr class="simple">
    <dx-data-grid #grid id="gridContainer" noDataText="No hay registros" [allowColumnResizing]="true"
      [columnAutoWidth]="true" [dataSource]="dataSource" keyExpr="CodigoLote" [focusedRowEnabled]="true"
      [hoverStateEnabled]="true" [showBorders]="true" [showColumnLines]="true" [showRowLines]="true"
      (onRowDblClick)="selectionChanged($event)" (onContentReady)="contentReady($event)"
      [masterDetail]="{ enabled: false, template: 'detail' }">

      <dxo-selection mode="single"></dxo-selection>

      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
      </dxo-pager>

      <dxo-filter-row [visible]="true" [applyFilter]="opcionFiltro"></dxo-filter-row>

      <dxi-column dataField="No" caption="#" [allowEditing]="false" cellTemplate="indexar" [allowFiltering]="false">
      </dxi-column>
      <dxi-column dataField="Nombre" caption="Nombre" [allowEditing]="false" [allowFiltering]="false">
      </dxi-column>
      <dxi-column dataField="NumeroRegistros" dataType="number" caption="Número de Registros" [allowEditing]="false">
      </dxi-column>
      <dxi-column dataField="CodigoLote" caption="Código de Lote" [allowEditing]="false" [allowFiltering]="false">
      </dxi-column>
      <dxi-column dataField="Estado" caption="Estado" [alignment]="'center'" [allowEditing]="false"
        [allowFiltering]="true">
        <dxo-lookup [dataSource]="estadoProcesoIntegracion" valueExpr="Codigo" displayExpr="Nombre"></dxo-lookup>
      </dxi-column>
      <dxi-column dataField="FechaProceso" [format]="{ type: 'dd/MM/yyyy' }" [editorOptions]="fechaOptions"
        dataType="date" [alignment]="'center'" caption="Fecha de Proceso" [allowEditing]="false">
      </dxi-column>
      <div class="text-center" *dxTemplate="let data of 'indexar'">
        <b>{{ data.component.pageIndex() * data.component.pageSize() + data.rowIndex + 1 }}</b>
      </div>
      <div *dxTemplate="let employee of 'detail'">
        <div class="card border-primary">
          <div class="card-body">
            <h6 class="card-title"><b>Detalles de Proceso</b></h6>
            <dx-data-grid #gridDetalle id="gridDetalle" noDataText="No hay registros" [allowColumnResizing]="true"
                          [columnAutoWidth]="true" [dataSource]="historialprocesos" keyExpr="No" [focusedRowEnabled]="true"
                          [hoverStateEnabled]="true" [showBorders]="true" [showColumnLines]="true" [showRowLines]="true">
              <dxo-filter-row [visible]="true" [applyFilter]="opcionFiltro"></dxo-filter-row>
              <dxo-sorting mode="none"></dxo-sorting>
              <dxo-paging [pageSize]="10"></dxo-paging>
              <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
              </dxo-pager>
              <dxi-column dataField="No" caption="#" cellTemplate="indexar" [allowFiltering]="false">
              </dxi-column>
              <dxi-column dataField="Identificacion" caption="Identificación" [allowFiltering]="true">
              </dxi-column>
              <dxi-column dataField="NumeroCertificadoPoliza" caption="Número de Certificado" [allowFiltering]="true">
              </dxi-column>
              <dxi-column dataField="Cliente" caption="Cliente" [allowFiltering]="false">
              </dxi-column>
              <dxi-column dataField="RazonSocial" caption="Razón Social" [allowFiltering]="false">
              </dxi-column>
              <dxi-column dataField="NombreJuridico" caption="Nombre Jurídico" [allowFiltering]="false">
              </dxi-column>
              <dxi-column dataField="Producto" caption="Producto" [allowFiltering]="false">
              </dxi-column>
              <dxi-column dataField="InstitucionFinanciera" caption="Institución Financiera" [allowFiltering]="false">
              </dxi-column>
              <dxi-column dataField="IdCancelacionZoho" caption="Id Zoho CRM" [allowFiltering]="false">
              </dxi-column>
              <dxi-column dataField="NumeroSAC" caption="Número de SAC" [allowFiltering]="true">
              </dxi-column>
              <dxi-column dataField="TotalProrrata" caption="Valor Prorrata" [allowFiltering]="false"
                          cellTemplate="prorrata">
              </dxi-column>
              <dxi-column dataField="TotalDevolver" caption="Valor a Devolver" [allowFiltering]="false"
                          cellTemplate="devolver">
              </dxi-column>
              <dxi-column dataField="Estado" [alignment]="'center'" caption="Estado" [allowFiltering]="false">
              </dxi-column>
              <dxi-column dataField="EstadoCancelacion" [alignment]="'center'" caption="Estado de Cancelación"
                          [allowFiltering]="false">
              </dxi-column>
              <dxi-column dataField="EstadoDevolucion" [alignment]="'center'" caption="Estado de Devolución"
                          [allowFiltering]="false">
              </dxi-column>
              <dxi-column dataField="FechaSolicitud" [format]="{ type: 'dd/MM/yyyy' }" dataType="date"
                          [alignment]="'center'" caption="Fecha de Solicitud" [allowFiltering]="false">
              </dxi-column>
              <dxi-column dataField="GUID" caption="GUID" [allowFiltering]="false">
              </dxi-column>
              <dxi-column dataField="Observaciones" caption="Observaciones" [allowFiltering]="false">
              </dxi-column>
              <div class="text-center" *dxTemplate="let data of 'indexar'">
                <b>{{ data.component.pageIndex() * data.component.pageSize() + data.rowIndex + 1 }}</b>
              </div>
              <div class="text-right" *dxTemplate="let data of 'prorrata'">
                {{data.value | number:"1.2-2"}}
              </div>
              <div class="text-right" *dxTemplate="let data of 'devolver'">
                {{data.value | number:"1.2-2"}}
              </div>
            </dx-data-grid>
          </div>
        </div>
      </div>
    </dx-data-grid>

  </div>
</div>
