.dx-datagrid-rowsview .dx-row-focused.dx-data-row > td:not(.dx-focused), .dx-datagrid-rowsview .dx-row-focused.dx-data-row > tr > td:not(.dx-focused), .dx-datagrid-rowsview .dx-row-focused.dx-data-row .dx-command-edit .dx-link {
  background-color: #FFFFB5;
  color: #000000;
}

.dx-cell-focus-disabled {
  text-align: center!important
}

.dx-datagrid-headers .dx-datagrid-table .dx-row > td {
  font-size: 15px;
}

.dx-datagrid .dx-datagrid-content .dx-datagrid-table .dx-row > td, .dx-datagrid .dx-datagrid-content .dx-datagrid-table .dx-row > td.dx-cell-modified:not(.dx-field-item-content), .dx-datagrid .dx-datagrid-content .dx-datagrid-table .dx-row > td.dx-datagrid-invalid:not(.dx-field-item-content) {
  padding-bottom: 5px;
  padding-top: 5px;
}
.dx-datagrid .dx-datagrid-content .dx-datagrid-table .dx-row > td, .dx-datagrid .dx-datagrid-content .dx-datagrid-table .dx-row > td.dx-cell-modified:not(.dx-field-item-content), .dx-datagrid .dx-datagrid-content .dx-datagrid-table .dx-row > td.dx-datagrid-invalid:not(.dx-field-item-content) {
  padding-bottom: 5px;
  padding-top: 5px;
}
.dx-datagrid .dx-menu .dx-menu-item .dx-menu-item-content, .dx-datagrid-container .dx-menu .dx-menu-item .dx-menu-item-content {
  padding: 1px 4px;
}
.dx-datagrid .dx-editor-with-menu, .dx-datagrid-container .dx-editor-with-menu {
  height: 22px;
}

.dx-editor-cell .dx-texteditor .dx-texteditor-input {
  height: 22px;
}

.botonFiltroDevExtreme {
  margin-top:25px;
}

.dx-header-row{
  background-color:#096eaf;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

