.text-custom {
  color: #03a9f4ff!important;
  font-size: 18px;
}

table {
  width: 100%;
}

.mat-row:hover {
  background-color: #FFFFB5
}

.mat-header-row {
  height: 26px;
  background-color: #096eaf;
}

.mat-header-cell {
  color:white;
  font-size: 15px;
}

label {
  margin-bottom: 0;
}
