<div class="container mt-4 pl-5">
  <div id="carouselExampleControls" class="pl-5 carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleControls" attr.data-slide-to="{{index}}" class="{{index == 0 ? 'active':''}}"
        *ngFor="let item of carusel;let index = index;"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item {{index == 0 ? 'active':''}}" *ngFor="let item of carusel; let index = index;">
        <img class="d-block w-100" [src]="item" alt="First slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="fas fa-chevron-left fa-2x text-dark" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="fas fa-chevron-right fa-2x text-dark" aria-hidden="true"></span>
      <span class="sr-only">Siguiente</span>
    </a>
  </div>
  <div class="text-center">
    <img src="assets/img/LogoSIGS.png" alt="LogoSIGS">
  </div>
</div>
